
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap-datetimepicker.min.css" />
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>

    <script>
    $(document).ready(function() {
        var max_fields      = 10; //maximum input boxes allowed
        var wrapper         = $(".input_fields_wrap"); //Fields wrapper
        var add_button      = $(".add_field_button"); //Add button ID
        var x = 1; //initlal text box count
        
        console.log('hi');
        $(add_button).click(function(e){ //on add input button click
            e.preventDefault();
            if(x < max_fields){ //max input box allowed
                x++; //text box increment
                $(wrapper).append("<div class='row'>"
              + " <div a class='col-md-2'>"
              + "   <div class='input-group date' id='datetimepicker"+x+"'>"
              + "     <input type='text' name='flightdeptime"+x+"' class='form-control' />"
              + "     <span class='input-group-addon'><span class='glyphicon glyphicon-calendar'></span></span>"
              + "   </div>"
              + " </div>"
              + " <div a class='col-md-2'>"
              + "   <div class='input-group date' id='datetimepicker"+x+x+"'>"
              + "     <input type='text' name='flightarrtime"+x+"' class='form-control' />"
              + "     <span class='input-group-addon'><span class='glyphicon glyphicon-calendar'></span></span>"
              + "   </div>"
              + " </div>"
              + " <div class='col-md-2'>"
              + "   <select name='airline"+x+"' class='form-control'>"
              + "       <option value='19805'>American Airlines</option>"
              + "   </select>"
              + " </div>"
              + " <div class='col-md-2'>"
              + "   <select name='originairport"+x+"' class='form-control'>"
              + "       <option value='12478'>JFK</option>"
              + "   </select>"
              + "</div>"
              + "<div class='col-md-2'>"
              + "  <select name='destairport"+x+"' class='form-control'>"
              + "      <option value='12478'>JFK</option>"
              + " </select>"
              + "</div>"
              + "<div class='col-md-2'>"  
              + "<a href='#' class='remove_field'>Remove</a>"  
              + "</div>"
              + "</div>");

              console.log(x)
              var script   = document.createElement("script");
              script.type  = "text/javascript";
              script.text  = "$(function () {"
                             + "$('#datetimepicker"+x+"').datetimepicker();"
                             + "});"
                             + "$(function () {"
                             + "$('#datetimepicker"+x+x+"').datetimepicker();"
                             + "});"
              document.body.appendChild(script);
            }
        });
    
        $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
            e.preventDefault(); $(this).parent('div').remove(); x--;
        })
    });
    </script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Flight Delay Predictor &lt;&lt;&lt;&lt;  Suggestions?</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <br><br>

    <div class="container">
    <div class="starter-template">
      <h2>Input Page</h2>
      <p>Enter some user input</p>
      
    </div>

    <div class = "container">

      <form  action="/output" method="GET">
        <button class="add_field_button">Add More Fields</button>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">Departing At</div>
            <div class="col-md-2">Arriving At</div>
            <div class="col-md-2">Airline</div>
            <div class="col-md-2">Origin</div>
            <div class="col-md-2">Destination</div>
            <div class="col-md-2"> <a href='#' class='remove_field'></a></div>
          </div>
          <div class="input_fields_wrap">
            
            <div class="row">
              <div class="col-md-2">
                <div class="input-group date" id="datetimepicker0">
                  <input type="text" name="flightdeptime1" class="form-control" />
                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
              </div>
              <div class="col-md-2">
                <div class="input-group date" id="datetimepicker00">
                  <input type="text" name="flightarrtime1" class="form-control" />
                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
              </div>
              <div class="col-md-2">
                <select name="airline1" class="form-control">
                    <option value="19805">American Airlines</option>
                </select>
              </div>
              <div class="col-md-2">
                <select name="originairport1" class="form-control">
                    <option value="12478">JFK</option>
                </select>
              </div>
              <div class="col-md-2">
                <select name="destairport1" class="form-control">
                    <option value="12478">JFK</option>
                </select>
              </div>
              <div class="col-md-2"></div>
              
              <script type="text/javascript">
                  $(function () {
                      $('#datetimepicker0').datetimepicker();
                  });
              </script>
              <script type="text/javascript">
                  $(function () {
                      $('#datetimepicker00').datetimepicker();
                  });
              </script>
            </div>
          </div>
        </div>


        <div>
          <button type="submit" class="btn btn-default btn-lg">Will it be delayed?</button>
        </div>

      </form>
    </div>

    </div> <!-- /.container-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

  </body>
</html>
