
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/datepicker3.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css" />
    
    <!-- Custom styles for this template -->
    <!-- <link href="starter-template.css" rel="stylesheet"> -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
 
    <script type="text/javascript">
    function newflight(x){
      return $('#newleg').html().replace(/legnumber/g,x);      
    }
    
    function lookupflight(x){
      url='/flightinfo?flightairline='+$("#flightairline"+x).val()+"&flightnumber="
      url=url+$("#flightnumber"+x).val()+"&flightdate="+$("#flightdate"+x).val()
      
      console.log(url);
            
      if ($("#disambiguateflight"+x).length ) {
        $("#disambiguateflight"+x).remove();
      }
      $("#group"+x).toggleClass("has-error",false);
      console.log("Hello there");
      $.getJSON( url, function( data ) {
        if(Object.keys(data)[0]=="Error"){
          $('<div id="disambiguateflight'+x+'"><button type="button" class="btn btn-danger">'+Object.keys(data)[0]+": "+data["Error"]+'</button></div>').appendTo($("#disambiguateflights"+x))
          
          $("#group"+x).toggleClass("has-error",true);
          $("#disambiguateflights"+x).toggleClass("col-md-3",true);
        }else{
          //If we only returned one element from the JSON, there is only one flight with that flight number on that date
          if(Object.keys(data).length==1){
            console.log("Only One flight");
            console.log();  
                 
            $('<div id="disambiguateflight'+x+'"><button type="button" class="btn btn-default">'+data[0]['Origin_Airport_Name']+" &#8594; " +data[0]['Dest_Airport_Name']+'</button></div>').appendTo($("#disambiguateflights"+x))
          } else {
            $("<select class=form-control name=\'disambiguateflight"+x+"\' id=\'disambiguateflight"+x+"\'>").appendTo($("#disambiguateflights"+x))
            $("#disambiguateflights"+x).toggleClass("col-md-3",true);
            
            for (var key in Object.keys(data)) {
              console.log(data[key]['DepTime'], data[key]['ArrTime'], data[key]['AirlineID'], data[key]['Origin_Airport_ID'], data[key]['Dest_Airport_ID']);
              $("<option value="+encodeURIComponent(JSON.stringify(data[key]))+">"+data[key]['Origin_Airport_Name']+" &#8594; " +data[key]['Dest_Airport_Name']+"</option>").appendTo($("#disambiguateflight"+x))
            }
            $("</select>").appendTo($("#disambiguateflights"+x))
            console.log("More than one flight");
            
            alert(x);
            $( "#disambiguateflight"+x ).change(function() {
              changehiddendetails(x);
            });
          }
          // Set stuff in our hidden boxes, either the first flight of our dropdown, or the only flight of a unique flight.
          $('#flightarrtime'+x).val(data['0']['DepTime']);
          $('#flightdeptime'+x).val(data['0']['ArrTime']);
          $('#airline'+x).val(data['0']['AirlineID']);
          $('#originairport'+x).val(data['0']['Origin_Airport_ID']);
          $('#destairport'+x).val(data['0']['Dest_Airport_ID']);  
        }
      });
    }
    
    function changehiddendetails(x){
      data=JSON.parse(decodeURIComponent($("#disambiguateflight"+x).val()));
      $('#flightarrtime'+x).val(data['DepTime']);
      $('#flightdeptime'+x).val(data['ArrTime']);
      $('#airline'+x).val(data['AirlineID']);
      $('#originairport'+x).val(data['Origin_Airport_ID']);
      $('#destairport'+x).val(data['Dest_Airport_ID']);  
    }
    
    $(document).ready(function() {
        var max_fields      = 10; //maximum input boxes allowed
        var wrapper         = $(".input_fields_wrap"); //Fields wrapper
        var add_button      = $("#addflight"); //Add button ID
    
        var x = 1; //initlal text box count
        $(add_button).on("click",function(e){ //on add input button click
            e.preventDefault();
            if(x < max_fields){ //max input box allowed
                x++; //text box increment
                $(wrapper).append(newflight(x)); //add input box

                $('#flightdatecontainer'+x).datetimepicker({
                format: 'YYYY/MM/D'
                });
                
                $( "#flightnumber"+x ).change(function() {
                  lookupflight(x);
                });
                
                $( "#numlegs" ).val(x)
            }
        });
    
        $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
          $(this).parent('div').parent('div').prev().remove();
        
          e.preventDefault(); $(this).parent('div').parent('div').remove(); x--;

          $( "#numlegs" ).val(x)
        })
    });
    </script>
              
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body onload='$("#newleg").hide();'>
    <div id="newleg">
      <div class="form-group" id="grouplegnumber">
        <div class="row">
        <div class="col-md-1">
        <input type="hidden" name="flightdeptimelegnumber" id="flightdeptimelegnumber">
        <input type="hidden" name="flightarrtimelegnumber" id="flightarrtimelegnumber">
        <input type="hidden" name="airlinelegnumber" id="airlinelegnumber">
        <input type="hidden" name="originairportlegnumber" id="originairportlegnumber">
        <input type="hidden" name="destairportlegnumber" id="destairportlegnumber">
        </div>
        <div class="col-md-2">
          <div class='input-group date' id='flightdatecontainerlegnumber'>
              <input id="flightdatelegnumber" name="flightdatelegnumber" type='text' class="form-control" />
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
        </div>
        <div class="col-md-3">
          <select id="flightairlinelegnumber" name="flightairlinelegnumber" class="form-control">
            <option value="AA">American Airlines</option>
            <option value="DL">Delta Air Lines</option>
            <option value="G7">GoJet Airlines</option>
            <option value="B6">JetBlue Airways</option>
            <option value="WN">Southwest Airlines</option>
            <option value="UA">United Air Lines</option>
            <option value="US">US Airways</option>
            <option value="VX">Virgin America</option>
            <option value="ZW">Air Wisconsin Airlines</option>
            <option value="FL">AirTran Airways</option>
            <option value="AS">Alaska Airlines</option>
            <option value="G4">Allegiant Air</option>
            <option value="RP">Chautauqua Airlines</option>
            <option value="C5">Commutair</option>
            <option value="CP">Compass Airlines</option>
            <option value="9E">Endeavor Air</option>
            <option value="MQ">Envoy Air</option>
            <option value="EV">ExpressJet Airlines</option>
            <option value="F9">Frontier Airlines</option>
            <option value="HA">Hawaiian Airlines</option>
            <option value="QX">Horizon Air</option>
            <option value="YV">Mesa Airlines</option>
            <option value="PDT">Piedmont Airlines</option>
            <option value="JIA">PSA Airlines</option>
            <option value="YX">Republic Airlines</option>
            <option value="S5">Shuttle America</option>
            <option value="OO">SkyWest Airlines</option>
            <option value="NK">Spirit Air Lines</option>
            <option value="SY">Sun Country Airlines</option>
            <option value="AX">Trans States Airlines</option>
          </select>
        </div>
        <div class="col-md-2">
          <input id="flightnumberlegnumber" name="flightnumberlegnumber" type='text' class="form-control" />
        </div>    
        <div class="col-md-3" id="disambiguateflightslegnumber">
        </div>    
        <div class="col-md-1">
        <a href="#" class="remove_field">Remove</a>
        </div>
      </div>
      </div>
    </div>


    <div class = "container">

      <h2>Flight or Plight</h2>
      <h3>Ensuring weather, congestion,
 and bad luck won’t ruin your vacation.</h3>
      <form  action="/output" method="GET">
          <div class="input_fields_wrap">
            <div class="form-group" id="group1">
              <div class="row">
              <div class="col-md-1">
                <input type="hidden" name="bycode" value="1">
                <input type="hidden" name="numlegs" id="numlegs" value="1">
              
                <input type="hidden" name="flightdeptime1" id="flightdeptime1">
                <input type="hidden" name="flightarrtime1" id="flightarrtime1">
                <input type="hidden" name="airline1" id="airline1">
                <input type="hidden" name="originairport1" id="originairport1">
                <input type="hidden" name="destairport1" id="destairport1">
              </div>
              <div class="col-md-2">
                <label for="flightdate1">Flight Date </label>
                <div class='input-group date' id='flightdatecontainer1'>
                    <input id='flightdate1' name='flightdate1' type='text' class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <script type="text/javascript">
                  $(function () {
                    $('#flightdatecontainer1').datetimepicker({
                    format: 'YYYY/MM/D'
                    });
                  });
                </script>
              </div>
              <div class="col-md-3">
                <label for="flightairline1">Airline</label>
                <select id="flightairline1" name="flightairline1" class="form-control">
                    <option value="AA">American Airlines</option>
                    <option value="DL">Delta Air Lines</option>
                    <option value="G7">GoJet Airlines</option>
                    <option value="B6">JetBlue Airways</option>
                    <option value="WN">Southwest Airlines</option>
                    <option value="UA">United Air Lines</option>
                    <option value="US">US Airways</option>
                    <option value="VX">Virgin America</option>
                    <option value="ZW">Air Wisconsin Airlines</option>
                    <option value="FL">AirTran Airways</option>
                    <option value="AS">Alaska Airlines</option>
                    <option value="G4">Allegiant Air</option>
                    <option value="RP">Chautauqua Airlines</option>
                    <option value="C5">Commutair</option>
                    <option value="CP">Compass Airlines</option>
                    <option value="9E">Endeavor Air</option>
                    <option value="MQ">Envoy Air</option>
                    <option value="EV">ExpressJet Airlines</option>
                    <option value="F9">Frontier Airlines</option>
                    <option value="HA">Hawaiian Airlines</option>
                    <option value="QX">Horizon Air</option>
                    <option value="YV">Mesa Airlines</option>
                    <option value="PDT">Piedmont Airlines</option>
                    <option value="JIA">PSA Airlines</option>
                    <option value="YX">Republic Airlines</option>
                    <option value="S5">Shuttle America</option>
                    <option value="OO">SkyWest Airlines</option>
                    <option value="NK">Spirit Air Lines</option>
                    <option value="SY">Sun Country Airlines</option>
                    <option value="AX">Trans States Airlines</option>
                </select>
              </div>              
              <div class="col-md-2">
                <label for="flightnumber1">Flight Number</label>
                <input id="flightnumber1" name="flightnumber1" type='text' class="form-control" />
                                <span id="inputError2Status" class="sr-only">(error)</span>
                <script type="text/javascript">
                  $( "#flightnumber1" ).change(function() {
                    lookupflight(1);
                  });
                </script>
              </div>
              <div id="disambiguateflights1" class="col-md-3">
                                <label for="adfs">&nbsp;</label>
              </div>
              <div class="col-md-1"></div>
            </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
            
            </div>
            <div class="col-md-3">
              <button id="addflight" class="btn btn-default btn-lg">Add Another Flight</button>
            </div>
            <div class="col-md-3">
              <button type="submit" class="btn btn-default btn-lg">Will my flight be delayed?</button>
            </div>
            <div class="col-md-5">
            
            </div>
            
          </div>
      </form>
    </div>

    </div> <!-- /.container-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

  </body>
</html>
